
mat-card{
    margin: 20px;
}
mat-form-field{
    width: 430px;
    margin: 5px;
}
.uppercase{
  color:#170db3  
}
.sabao{
    background-color:#170db3;
    color:white;
}
mat-card-title{
    text-align: center;
}
mat-card-subtitle{
    text-align: center;
}


