<form class="container-formulario" (ngSubmit)="submit()" [formGroup]="formulario">

    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="avatar" fxLayout fxLayoutAlign="center center">
                <mat-icon>mms</mat-icon>
            </div>
            <mat-card-title>Cadastro</mat-card-title>
            <mat-card-subtitle>cadastro do usuário</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content fxLayout="column">

            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" name="nome">
                <mat-error *ngIf="formulario.controls['nome'].hasError('required')">O nome é obrigatório</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Sobrenome</mat-label>
                <input matInput formControlName="sobrenome" name="sobrenome">
                <mat-error *ngIf="formulario.controls['sobrenome'].hasError('required')">O sobrenome é obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" name="email" type="email">
                <mat-error *ngIf="formulario.controls['email'].hasError('required')">O e-mail é obrigatório</mat-error>
                <mat-error *ngIf="formulario.controls['email'].hasError('email')">O e-mail não é válido</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" name="senha"
                    type="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formulario.controls['senha'].hasError('required')">A senha é obrigatória</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Confirmar senha</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmacaoSenha"
                    name="confirmacaoSenha" type="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="formulario.controls['senha'].hasError('required')">A confirmação da senha é
                    obrigatória</mat-error>
            </mat-form-field>

            <mat-error *ngIf="usuarioJaCadastrado">Usuário já cadastrado</mat-error>

        </mat-card-content>

        <mat-card-actions>

            <div fxLayout="row">
                <span fxFlex></span>

                <button mat-flat-button color="primary" class="sabao" type="submit">
                    Salvar
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>