
mat-card{
    margin: 20px;
    width: 600px;
    left: 200px;
}
mat-form-field{
    width: 600px;
}
.uppercase{
  color: blue;  
}
.sabao{
    background-color:blue;
    left: 370px;
}
mat-card-title{
    text-align: center;
}
mat-card-subtitle{
    text-align: center;
}


