<mat-card-title>Editar Palestrante</mat-card-title>
<br>
<mat-card>
  <form [formGroup]="formPalestrante" (ngSubmit)="editar()">
    <img style="max-width: 400px; overflow: hidden;" [src]="url | async" />
    <mat-list-item>
      <input accept="image/x-png,image/gif,image/jpeg" type="file" (change)="uploadFile($event)" />
      <div>{{ porcentagemEnvio | async }}</div>
    </mat-list-item>
    <br><br>
    <mat-form-field appearance="fill" class="babanas">

      <mat-label>Nome:</mat-label>
      <input matInput formControlName="nome" placeholder="Nome do Palestrante: " name="nome" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="banana">

      <mat-label>Sobrenome: </mat-label>
      <input matInput formControlName="sobrenome" placeholder="Sobrenome do Palestrante: " name="sobrenome" />
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill" class="babane">
      <mat-label>Informações: </mat-label>
      <textarea rows="4" matInput formControlName="informacoes" placeholder="Informações do Palestrante: "
        name="informacoes"></textarea>

    </mat-form-field>

    <mat-card-actions>
        <button mat-raised-button class="submit-button" type="submit"
          [disabled]="!formPalestrante.valid">
          salvar
        </button>
    </mat-card-actions>
  </form>
</mat-card>