mat-card{
    margin: 20px;
    width: 580px;
    height: 300px;
    left: 200px;
  }
  .banana{
    width: 580px;
  }
  .babane{
    width: 580px;
  }
  .babanas{
    width: 580px;
  }
  .submit-button{
      background-color: #170db3;
      left: 10px;
  }