.input-style{
    font-style: inherit;
    font-weight: inherit;
    font-family: 10px;
    background-position: 900px;
}
mat-card{
    left: 150px;
}
.conteiner-palestrante{
    display: flex;
    flex-wrap: wrap;
}
.imagem-palestrante {
    object-fit: contain;
    float: left;
    border: transparent thin solid;
    padding: 9px;
    margin: 0px 20px 10px 0;
    max-width: 200px;
}

mat-form-field{
    width: 700px;
}
.submit-button{
    left: 635px;
    background-color: #170db3;
}
.uppercase {
    background-color: #170db3;
    color: white;
}