mat-card{
width: 400px;
left: 300px;
background-color: #ffba00;
}
mat-card-title{
   text-align: center;
   font-style: normal;
   font-size: medium;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 20px;
}
mat-form-field{
    left: 100px;
    
}
.uppercase{
    width: 400px;
    left: 10px;
    background-color: #170db3;
    
}


