.toolbar{
  background-color: #ed9121;
}

 .img{
   left: 200px;
   width: 130px;

 }
 mat-card{
   text-align: center;
   top: 20px
 }
 .conteudo{
   text-align: center;
 }

.container-content{
    margin: 20px;
    display: flex;
    place-content: center;
    top: 90%;


mat-card-title{
       text-align: center;
       font-style: normal;
       font-size: medium;
       font-family: Arial, Helvetica, sans-serif;
       font-weight: 20px;
    }
    .uppercase{
        width: 400px;
        background-color: #170db3;
        color: white;
        
    }
  }

