<mat-toolbar class="toolbar">
</mat-toolbar>

<div class="container-content">
  <form class="container-formulario" (ngSubmit)="submit()" [formGroup]="formulario">
    <div fxLayout="row" fxLayoutAlign="center center">

      <mat-card>
        <img class="img"
          src="https://firebasestorage.googleapis.com/v0/b/mytcc-ca2f7.appspot.com/o/teste%2011.png?alt=media&token=5ad32a50-85b4-4481-9f4d-06238e9a538d" />

        <mat-card-header>

          <mat-card-title>Login</mat-card-title>
          <mat-card-subtitle>Entre com as informações abaixo para acessar a aplicação</mat-card-subtitle>

        </mat-card-header>

        <mat-card-content class="conteudo">

          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" name="email" type="email">
            <mat-error *ngIf="formulario.controls['email'].hasError('required')">O e-mail é obrigatório</mat-error>
            <mat-error *ngIf="formulario.controls['email'].hasError('email')">O e-mail não é válido</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" name="senha" type="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="formulario.controls['senha'].hasError('required')">A senha é obrigatória</mat-error>
          </mat-form-field>
          <mat-error *ngIf="erro">O usuário não existe ou a senha está incorreta</mat-error>
        </mat-card-content>

        <mat-card-actions>
          <button mat-flat-button class="uppercase" type="submit" [disabled]="formulario.disabled">Entrar</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </form>
</div>