<mat-card-title>Editar Palestrante</mat-card-title>
<br>
<mat-card class="conteiner-palestrante">
  <form [formGroup]="formPalestrante" (ngSubmit)="editar()">
    <img class="imagem-palestrante" style="max-width: 400px; overflow: hidden;" [src]="url | async" />
    <mat-list-item>
      <input accept="image/x-png,image/gif,image/jpeg" type="file" (change)="uploadFile($event)" />
      <div>{{ porcentagemEnvio | async }}</div>
      <p>*Atenção! para editar esse palestrante você precisa adicionar obrigatoriamente uma imagem!*</p>
    </mat-list-item>
    <br><br>
    <mat-form-field>

      <mat-label>Nome: </mat-label>
      <input matInput formControlName="nome" placeholder="Nome do Palestrante: " name="nome" />
      <mat-error *ngIf="formPalestrante.controls['nome'].hasError('required')">O nome é obrigatório</mat-error>

    </mat-form-field>
    <br>

    <mat-form-field>

      <mat-label>Sobrenome: </mat-label>
      <input matInput formControlName="sobrenome" placeholder="sobrenome do Palestrante: " name="sobrenome" />
      <mat-error *ngIf="formPalestrante.controls['sobrenome'].hasError('required')">O sobrenome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-card-actions>

      <div fxLayout="row">
        <span fxFlex></span>

        <button mat-flat-button class="uppercase" type="submit">
          Salvar
        </button>
      </div>
    </mat-card-actions>
  </form>
</mat-card>