.sidenav-container {
  height: 100%;
  font-family: 200px;
  font-weight: 200px;
  background-color: white;
  }

.sidenav {
 
  background-color:orange;
   width: 200px;
   display: grid;

   
}

.sidenav .mat-toolbar {
  background: inherit;
  background-color:orange;
  border: 10px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: beige;
  

  
}