.exemple-card{
    width: 450px;
    background-color:white;
    height: 340px;
    left: 20px;
  }
  .container-prog{
    display: flex;
  flex-wrap: wrap;


}
mat-card{
  margin: 4px;
}

.fixed-fab {
    right: 32px;
    bottom: 32px;
    left: auto;
    position: fixed;
    background-color: #170db3;
  color: white;
}
.descricao-prog {
    padding: 16px;
    width: 400px;
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

.rodapé{
    text-align: center;
    font-weight: bold;
}
}
.splash{
    float: right;
    background-color:white;
    color: #170db3;
  }

.grow {
    flex-grow: 3;
    width: 300;
    float: right;
}
.batom{
    text-align: center;
}
.nome-palestrante{
    text-align: center;
}
