<div class="container-eventos">
  <div *ngFor="let evento of eventos | async">
    <mat-card>
      <img mat-card-image src={{evento.imagem}}>
      <mat-card-title>
        <h3>{{ evento.nomeEvento }}</h3>
      </mat-card-title>
      <mat-card-subtitle>
        <p>{{ evento.descricaoEvento }}</p>
      </mat-card-subtitle>
      <button
        mat-raised-button
        color="primary"
        (click)="editar(evento)"
        style="margin: 5px;"
      >
        Editar
      </button>
      <button
        mat-raised-button
        color="danger"
        (click)="deletar(evento.id)"
        style="margin: 5px;"
      >
        Deletar
      </button>
    </mat-card>
  </div>
</div>
