<mat-card-title>Cadastrar Evento</mat-card-title>
<br>
<mat-card class="banana-evento">
  <form [formGroup]="formularioEvento" (ngSubmit)="adicionar()">
    <img class="imagem-evento" style="max-width: 400px; overflow: hidden;" [src]="url | async" />
    <mat-list-item>
      <input accept="image/x-png,image/gif,image/jpeg" type="file" (change)="uploadFile($event)" />
      <div>{{ porcentagemEnvio | async }}</div>
    </mat-list-item>
    <br><br>
    <div class="ms">
      <mat-form-field>

        <mat-label>Nome do Evento: </mat-label>
        <input matInput formControlName="nomeEvento" placeholder="Nome do Evento: " name="nomeEvento"/>
        <mat-error *ngIf="formularioEvento.controls['nomeEvento'].hasError('required')">O nome do Evento é obrigatório
        </mat-error>

      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Descrição do Evento: </mat-label>
        <textarea rows="8" matInput formControlName="descricaoEvento" placeholder="Descrição do Evento: "
          name="descricaoEvento"></textarea>
          <mat-error *ngIf="formularioEvento.controls['descricaoEvento'].hasError('required')">A descrição do Evento é obrigatório
          </mat-error>

      </mat-form-field>
    </div>
    <mat-card-actions>
      <button mat-raised-button class="submit-button" color="primary" type="submit">
        Salvar
      </button>

    </mat-card-actions>
  </form>
</mat-card>