<body class="formulario">
  <mat-card>
    <form [formGroup]="formularioEvento" (ngSubmit)="adicionar()">
      <mat-card-title>Cadastro Evento</mat-card-title>
      <mat-list>
        <mat-list-item>
          <input type="file" (change)="uploadFile($event)" />
          <div>{{ porcentagemEnvio | async }}</div>
        </mat-list-item>
        <mat-list-item>
          <a style="text-overflow: ellipsis; max-width: 400px; overflow: hidden;height:1rem;" [href]="url | async">{{
            url | async
          }}</a>
        </mat-list-item>
        <mat-list-item>
          <mat-label style="margin-top: 10px;">Nome do Evento: </mat-label>
          <input
            matInput
            MatFormFieldControl="nomeEvento"
            formControlName="nomeEvento"
            name="nomeEvento"
          />
        </mat-list-item>
        <mat-list-item>
          <mat-label style="margin-top: 10px;">Descrição do Evento: </mat-label>
          <input
            matInput
            formControlName="descricaoEvento"
            name="descricaoEvento"
          />
        </mat-list-item>

        <mat-card-actions>
          <div class="row submit-button-container">
            <button
              mat-raised-button
              class="submit-button"
              color="primary"
              type="submit"
              [disabled]="!formularioEvento.valid"
            >
              Criar
            </button>
          </div>
        </mat-card-actions>
      </mat-list>
    </form>
  </mat-card>
</body>
