.sidenav-container {
    height: 100%;
    font-family: 200px;
    font-weight: 200px;
    background-color: white;
    
  }
  
  .sidenav {
    background-color:#ffba00;
    width: 200px;
    display: grid;
  
  
  img{
    width: 160px;
  }  
  }
  
  
  .sidenav .mat-toolbar {
    background: center;
    background-color:#ffba00;
     width: 300px;
     height: 230px;
     width: 60em;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:#ffba00;
  }
  .sair{
    left: 900px;
  }
  .navigation-item{
    color: white;
    font-size: 1.3rem;
    transition: .5s;
    font-weight: 500;
    text-decoration: none;
  }
  
  .navigation-item:hover{
    text-decoration: underline;
  }
  
  .container-content{
    margin:20px;
    display: flex;
    place-content: left;
    top: 0;
  }