<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <mat-toolbar>
      <mat-icon>calendar</mat-icon>
      <h1 class="example-app-name">Guairacá Eventos</h1>
    </mat-toolbar>

    <mat-nav-list>
      <a class="navigation-item" mat-list-item [routerLink]="['/home/listaEventos']">
        <mat-icon>list</mat-icon>
        Eventos
      </a>
      <mat-divider></mat-divider>
      <a class="navigation-item" mat-list-item [routerLink]="['/home/adicionarEventos']">
        <mat-icon>add</mat-icon>
        Cadastrar Eventos
      </a>
      <mat-divider></mat-divider>
      <a class="navigation-item" mat-list-item [routerLink]="['/home/listaUsuario']">
        <mat-icon>perm_contact_calendar</mat-icon>
        Usúarios
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-button (click)="voltar()" class="voltar">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>

      <div fxFlex></div>
      <button mat-icon-button [matMenuTriggerFor]="menu" class="span">
        {{usuario?.nome}}
        <mat-icon>account_circle</mat-icon>
       </button>
       
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="SignOut()" value="Login">
          <mat-icon>power_settings_new</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>

    </mat-toolbar>

    <div class="container-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>